body{
  -ms-overflow-style: none;
  scrollbar-width: none;
  }
  ::-webkit-scrollbar{
    display: none;
  }


.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: #ffffff;
  transition: 0.3s;
  font-family: "Gilroy-Medium";
  text-decoration: none;
}
.navigation-links-navlink:hover {
  opacity: 0.5;
}
.navigation-links-navlink1 {
  color: #ffffff;
  transition: 0.3s;
  font-family: "Gilroy-Medium";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  opacity: 0.5;
}
.navigation-links-link {
  color: #ffffff;
  transition: 0.3s;
  font-family: "Gilroy-Medium";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link:hover {
  opacity: 0.5;
}
.navigation-links-container {
  flex: 0 0 auto;
  width: 1px;
  height: 32px;
  display: flex;
  opacity: 0.5;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
}
.navigation-links-link1 {
  color: #ffffff;
  transition: 0.3s;
  font-family: "Gilroy-Medium";
  margin-left: var(--dl-space-space-twounits);
  border-color: #ffffff;
  text-decoration: underline;

}
.navigation-links-link1:hover {
  opacity: 0.5;
}













@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.selecttio-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #080D1B;
}
.selecttio-nav {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
  background-color: #8581ff;
}
.selecttio-nav-box {
  width: 1200px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.selecttio-navlink {
  display: contents;
}
.selecttio-image {
  height: auto;
  text-decoration: none;
}
.selecttio-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.selecttio-hero {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #8581ff;
}
.selecttio-hd-box {
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: center;
}
.selecttio-image01 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.selecttio-image02 {
  width: 100%;
  margin-top: var(--dl-space-space-sixunits);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-sixunits);
}
.selecttio-initial-text {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.selecttio-text {
  flex: 0 0 auto;
  width: 80%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.selecttio-text01 {
  color: rgb(255, 255, 255);
  font-size: 56px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Gilroy-SemiBold";
  margin-right: var(--dl-space-space-sixunits);
}
.selecttio-text02 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-twounits);
  line-height: 1.5;
  margin-right: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-fourunits);
}
.selecttio-link {
  display: flex;
  padding: 0px;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  text-decoration: none;
  background-color: transparent;
}
.selecttio-link:hover {
  opacity: 50%;
}
.selecttio-text03 {
  color: #ffffff;
  font-size: 14px;
  font-family: "Gilroy-Bold";
  padding-right: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.selecttio-image03 {
  width: 16px;
  object-fit: cover;
}
.selecttio-text2 {
  flex: 0 0 auto;
  width: 20%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: column;
}
.selecttio-text04 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Gilroy-SemiBold";
  margin-bottom: var(--dl-space-space-twounits);
}
.selecttio-text05 {
  color: #ffffff;
  font-size: 20px;
}
.selecttio-text06 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.selecttio-text07 {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.selecttio-text08 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.selecttio-text09 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-top: var(--dl-space-space-fourunits);
  font-family: "Gilroy-SemiBold";
  margin-bottom: var(--dl-space-space-twounits);
}
.selecttio-text10 {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.selecttio-hd-img {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.selecttio-image04 {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.selecttio-text-in-between {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.selecttio-container01 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.selecttio-text11 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: "Gilroy-SemiBold";
}
.selecttio-container02 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.selecttio-text15 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.5;
}
.selecttio-hd-img3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  max-height: 100%;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.selecttio-container03 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.selecttio-container04 {
  flex: 0 0 auto;
  width: 49%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.selecttio-image05 {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.selecttio-container05 {
  flex: 0 0 auto;
  width: 49%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.selecttio-image06 {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.selecttio-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.selecttio-image07 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
}
.selecttio-text-in-between2 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.selecttio-container07 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.selecttio-text20 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: "Gilroy-SemiBold";
}
.selecttio-container08 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.selecttio-text24 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.5;
}
.selecttio-hd-img2 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.selecttio-image08 {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.selecttio-text-in-between3 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.selecttio-container09 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.selecttio-text29 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: "Gilroy-SemiBold";
}
.selecttio-container10 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.selecttio-text30 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.5;
}
.selecttio-hd-img31 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.selecttio-image09 {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.selecttio-text-in-between4 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.selecttio-container11 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.selecttio-text35 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: "Gilroy-SemiBold";
}
.selecttio-container12 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.selecttio-text36 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.5;
}
.selecttio-hd-img4 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.selecttio-image10 {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.selecttio-project-stats {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.selecttio-text37 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.selecttio-text38 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-top: 0px;
  font-family: "Gilroy-SemiBold";
  margin-right: var(--dl-space-space-sixunits);
  text-transform: uppercase;
}
.selecttio-text39 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-twounits);
  line-height: 1.5;
  margin-right: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-fourunits);
}
.selecttio-container13 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.selecttio-text21 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: 0px;
  flex-direction: row;
}
.selecttio-container14 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.selecttio-text44 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Gilroy-SemiBold";
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.selecttio-text45 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-family: "Gilroy-SemiBold";
}
.selecttio-text46 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-halfunit);
  line-height: 1.5;
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.selecttio-container15 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.selecttio-text47 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-top: 0px;
  font-family: "Gilroy-SemiBold";
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.selecttio-text48 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-family: "Gilroy-SemiBold";
}
.selecttio-text49 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-halfunit);
  line-height: 1.5;
}
.selecttio-text22 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.selecttio-container16 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.selecttio-text50 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Gilroy-SemiBold";
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.selecttio-text51 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-family: "Gilroy-SemiBold";
}
.selecttio-text52 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-halfunit);
  line-height: 1.5;
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.selecttio-container17 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.selecttio-text53 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-top: 0px;
  font-family: "Gilroy-SemiBold";
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.selecttio-text54 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-family: "Gilroy-SemiBold";
}
.selecttio-text55 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-halfunit);
  line-height: 1.5;
}
.selecttio-more-projects {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 120px;
  flex-direction: column;
  padding-bottom: 40px;
  background-color: #ffffff;
}
.selecttio-text56 {
  font-size: 48px;
  font-family: "Gilroy-SemiBold";
}
.selecttio-project-container {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: space-between;
}
.selecttio-left {
  flex: 0 0 auto;
  width: 49%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #080D1B;
  border-width: 1px;
  border-radius: 20px;
  flex-direction: column;
}
.selecttio-image11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: #f7f7f8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.selecttio-image12 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.selecttio-container18 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.selecttio-img-box {
  border-radius: 5px;
  background-color: #080D1B;
  max-height: 46px;
}
.selecttio-image13 {
  height: 30px;
  margin: var(--dl-space-space-halfunit);
}
.selecttio-text57 {
  color: rgb(8, 13, 27);
  font-size: 40px;
  margin-top: var(--dl-space-space-twounits);
  font-family: "Gilroy-SemiBold";
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.selecttio-text61 {
  color: rgb(8, 13, 27);
  font-size: 18px;
  line-height: 1.5;
}
.selecttio-link1 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #080D1B;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.selecttio-link1:hover {
  opacity: 0.5;
}
.selecttio-text62 {
  font-size: 16px;
  font-family: "Gilroy-Medium";
  padding-right: var(--dl-space-space-halfunit);
}
.selecttio-image14 {
  width: auto;
  object-fit: cover;
}
.selecttio-right {
  flex: 0 0 auto;
  width: 49%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #080D1B;
  border-width: 1px;
  border-radius: 20px;
  flex-direction: column;
}
.selecttio-image15 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: #f7f7f8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.selecttio-image16 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.selecttio-container19 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.selecttio-img-box1 {
  border-radius: 5px;
  background-color: #080D1B;
  max-height: 46px;
}
.selecttio-image17 {
  height: 30px;
  margin: var(--dl-space-space-halfunit);
}
.selecttio-text63 {
  color: rgb(8, 13, 27);
  font-size: 40px;
  margin-top: var(--dl-space-space-twounits);
  font-family: "Gilroy-SemiBold";
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.selecttio-text67 {
  color: rgb(8, 13, 27);
  font-size: 18px;
  line-height: 1.5;
}
.selecttio-link2 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #080D1B;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.selecttio-text68 {
  font-size: 16px;
  font-family: "Gilroy-Medium";
  padding-right: var(--dl-space-space-halfunit);
}
.selecttio-image18 {
  width: auto;
  object-fit: cover;
}
.selecttio-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #080D1B;
}
.selecttio-footer-box {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: 120px;
  align-items: center;
  margin-bottom: 120px;
  flex-direction: column;
  justify-content: space-between;
}
.selecttio-top {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.selecttio-left1 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.selecttio-text69 {
  color: rgb(255, 255, 255);
  font-size: 56px;
  font-family: "Gilroy-SemiBold";
  margin-bottom: var(--dl-space-space-fiveunits);
}
.selecttio-text-box1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.selecttio-text75 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
  margin-right: var(--dl-space-space-fiveunits);
}
.selecttio-text76 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 1.5;
}
.selecttio-text-box2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.selecttio-text77 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
  margin-right: var(--dl-space-space-fiveunits);
}
.selecttio-link3 {
  display: contents;
}
.selecttio-external-link {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: 21px;
  text-decoration: none;
}
.selecttio-external-link:hover {
  opacity: 0.5;
}
.selecttio-text78 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Gilroy-Regular";
  margin-right: var(--dl-space-space-halfunit);
}
.selecttio-image19 {
  width: auto;
  object-fit: cover;
}
.selecttio-text-box3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.selecttio-text79 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
  margin-right: 72px;
}
.selecttio-link4 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.selecttio-link4:hover {
  opacity: 0.5;
}
.selecttio-link5 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.selecttio-link5:hover {
  opacity: 0.5;
}
.selecttio-link6 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.selecttio-link6:hover {
  opacity: 0.5;
}
.selecttio-right1 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.selecttio-image20 {
  flex: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
}
.selecttio-text80 {
  color: rgb(255, 255, 255);
  margin-top: var(--dl-space-space-fiveunits);
  font-family: "Gilroy-Regular";
}
@media(max-width: 767px) {
  .selecttio-nav-box {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .selecttio-nav1 {
    display: none;
  }
}
@media(max-width: 479px) {
  .selecttio-nav-box {
    padding: var(--dl-space-space-unit);
  }
}
