body{
  -ms-overflow-style: none;
  scrollbar-width: none;
  }
  ::-webkit-scrollbar{
    display: none;
  }

.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: #ffffff;
  transition: 0.3s;
  font-family: "Gilroy-Medium";
  text-decoration: none;
}
.navigation-links-navlink:hover {
  opacity: 0.5;
}
.navigation-links-navlink1 {
  color: #ffffff;
  transition: 0.3s;
  font-family: "Gilroy-Medium";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  opacity: 0.5;
}
.navigation-links-link {
  color: #ffffff;
  transition: 0.3s;
  font-family: "Gilroy-Medium";
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link:hover {
  opacity: 0.5;
}
.navigation-links-container {
  flex: 0 0 auto;
  width: 1px;
  height: 32px;
  display: flex;
  opacity: 0.5;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
}
.navigation-links-link1 {
  color: #ffffff;
  transition: 0.3s;
  font-family: "Gilroy-Medium";
  margin-left: var(--dl-space-space-twounits);
  border-color: #ffffff;
  border-width: 1px;
  text-decoration: underline    none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.navigation-links-link1:hover {
  opacity: 0.5;
}














@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-link1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.yardi-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #080D1B;
}
.yardi-nav {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
  background-color: #01aaf8;
}
.yardi-nav-box {
  width: 1200px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.yardi-navlink {
  display: contents;
}
.yardi-image {
  height: auto;
  text-decoration: none;
}
.yardi-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.yardi-hero {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #01aaf8;
}
.yardi-hd-box {
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: center;
}
.yardi-image01 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.yardi-image02 {
  width: 100%;
  margin-top: var(--dl-space-space-sixunits);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-sixunits);
}
.yardi-initial-text {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.yardi-text {
  flex: 0 0 auto;
  width: 80%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.yardi-text01 {
  color: rgb(255, 255, 255);
  font-size: 56px;
  margin-top: 0px;
  font-family: "Gilroy-SemiBold";
  margin-right: var(--dl-space-space-sixunits);
}
.yardi-text02 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-twounits);
  line-height: 1.5;
  margin-right: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-fourunits);
}
.yardi-download-links {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.yardi-link {
  display: contents;
}
.yardi-image03 {
  width: auto;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.yardi-link1 {
  display: contents;
}
.yardi-image04 {
  width: auto;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.yardi-text2 {
  flex: 0 0 auto;
  width: 20%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: 0px;
  flex-direction: column;
}
.yardi-text03 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Gilroy-SemiBold";
  margin-bottom: var(--dl-space-space-twounits);
}
.yardi-text04 {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.yardi-text05 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.yardi-text06 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.yardi-text07 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-top: var(--dl-space-space-fourunits);
  font-family: "Gilroy-SemiBold";
  margin-bottom: var(--dl-space-space-twounits);
}
.yardi-text08 {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.yardi-hd-img {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.yardi-image05 {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.yardi-text-in-between {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.yardi-container01 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.yardi-text09 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: "Gilroy-SemiBold";
}
.yardi-container02 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.yardi-text10 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.5;
}
.yardi-hd-img3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  max-height: 100%;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.yardi-container03 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.yardi-container04 {
  flex: 0 0 auto;
  width: 49%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.yardi-image06 {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.yardi-container05 {
  flex: 0 0 auto;
  width: 49%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.yardi-image07 {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.yardi-text-in-between2 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.yardi-container06 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.yardi-text15 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: "Gilroy-SemiBold";
}
.yardi-container07 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.yardi-text16 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.5;
}
.yardi-hd-img2 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.yardi-image08 {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.yardi-text-in-between3 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.yardi-container08 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.yardi-text24 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: "Gilroy-SemiBold";
}
.yardi-container09 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.yardi-text25 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.5;
}
.yardi-hd-img31 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.yardi-image09 {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.yardi-text-in-between4 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.yardi-container10 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.yardi-text26 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: "Gilroy-SemiBold";
}
.yardi-container11 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.yardi-text27 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.5;
}
.yardi-hd-img4 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.yardi-image10 {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.yardi-project-stats {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.yardi-text32 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.yardi-text33 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-top: 0px;
  font-family: "Gilroy-SemiBold";
  margin-right: var(--dl-space-space-sixunits);
  text-transform: uppercase;
}
.yardi-text34 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-twounits);
  line-height: 1.5;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-twounits);
}
.yardi-container12 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.yardi-text21 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: space-between;
}
.yardi-container13 {
  width: 49%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.yardi-text39 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Gilroy-SemiBold";
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.yardi-text40 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-family: "Gilroy-SemiBold";
}
.yardi-text41 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-halfunit);
  line-height: 1.5;
  padding-right: var(--dl-space-space-twounits);
}
.yardi-container14 {
  width: 49%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.yardi-text42 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-top: 0px;
  font-family: "Gilroy-SemiBold";
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.yardi-text43 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-family: "Gilroy-SemiBold";
}
.yardi-text44 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-halfunit);
  line-height: 1.5;
}
.yardi-text22 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.yardi-container15 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.yardi-text45 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Gilroy-SemiBold";
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.yardi-text46 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-family: "Gilroy-SemiBold";
}
.yardi-text47 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-halfunit);
  line-height: 1.5;
  padding-right: var(--dl-space-space-twounits);
}
.yardi-container16 {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.yardi-text48 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-top: 0px;
  font-family: "Gilroy-SemiBold";
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.yardi-text49 {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-family: "Gilroy-SemiBold";
}
.yardi-text50 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: var(--dl-space-space-halfunit);
  line-height: 1.5;
}
.yardi-more-projects {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 120px;
  flex-direction: column;
  padding-bottom: 40px;
  background-color: #ffffff;
}
.yardi-text51 {
  font-size: 48px;
  font-family: "Gilroy-SemiBold";
}
.yardi-project-container {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: space-between;
}
.yardi-left {
  flex: 0 0 auto;
  width: 49%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #080D1B;
  border-width: 1px;
  border-radius: 20px;
  flex-direction: column;
}
.yardi-image11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: #f7f7f8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.yardi-image12 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.yardi-container17 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.yardi-img-box {
  max-height: 46px;
  border-radius: 5px;
  background-color: #080D1B;
}
.yardi-image13 {
  height: 30px;
  margin: var(--dl-space-space-halfunit);
}
.yardi-text52 {
  color: rgb(8, 13, 27);
  font-size: 40px;
  margin-top: var(--dl-space-space-twounits);
  font-family: "Gilroy-SemiBold";
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.yardi-text56 {
  color: rgb(8, 13, 27);
  font-size: 18px;
  line-height: 1.5;
}
.yardi-link2 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #080D1B;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.yardi-link2:hover {
  opacity: 0.5;
}
.yardi-text57 {
  font-size: 16px;
  font-family: "Gilroy-Medium";
  padding-right: var(--dl-space-space-halfunit);
}
.yardi-image14 {
  width: auto;
  object-fit: cover;
}
.yardi-right {
  flex: 0 0 auto;
  width: 49%;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: #080D1B;
  border-width: 1px;
  border-radius: 20px;
  flex-direction: column;
}
.yardi-image15 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: #f7f7f8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.yardi-image16 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.yardi-container18 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.yardi-img-box1 {
  max-height: 46px;
  border-radius: 5px;
  background-color: #080D1B;
}
.yardi-image17 {
  height: 30px;
  margin: var(--dl-space-space-halfunit);
}
.yardi-text58 {
  color: rgb(8, 13, 27);
  font-size: 40px;
  margin-top: var(--dl-space-space-twounits);
  font-family: "Gilroy-SemiBold";
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.yardi-text62 {
  color: rgb(8, 13, 27);
  font-size: 18px;
  line-height: 1.5;
}
.yardi-link3 {
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #080D1B;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.yardi-text63 {
  font-size: 16px;
  font-family: "Gilroy-Medium";
  padding-right: var(--dl-space-space-halfunit);
}
.yardi-image18 {
  width: auto;
  object-fit: cover;
}
.yardi-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #080D1B;
}
.yardi-footer-box {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: 120px;
  align-items: center;
  margin-bottom: 120px;
  flex-direction: column;
  justify-content: space-between;
}
.yardi-top {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.yardi-left1 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.yardi-text64 {
  color: rgb(255, 255, 255);
  font-size: 56px;
  font-family: "Gilroy-SemiBold";
  margin-bottom: var(--dl-space-space-fiveunits);
}
.yardi-text-box1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.yardi-text70 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
  margin-right: var(--dl-space-space-fiveunits);
}
.yardi-text71 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 1.5;
}
.yardi-text-box2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.yardi-text72 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
  margin-right: var(--dl-space-space-fiveunits);
}
.yardi-link4 {
  display: contents;
}
.yardi-external-link {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: 21px;
  text-decoration: none;
}
.yardi-external-link:hover {
  opacity: 0.5;
}
.yardi-text73 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Gilroy-Regular";
  margin-right: var(--dl-space-space-halfunit);
}
.yardi-image19 {
  width: auto;
  object-fit: cover;
}
.yardi-text-box3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.yardi-text74 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
  margin-right: 72px;
}
.yardi-link5 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.yardi-link5:hover {
  opacity: 0.5;
}
.yardi-link6 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.yardi-link6:hover {
  opacity: 0.5;
}
.yardi-link7 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.yardi-link7:hover {
  opacity: 0.5;
}
.yardi-right1 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.yardi-image20 {
  flex: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 25px;
}
.yardi-text75 {
  color: rgb(255, 255, 255);
  margin-top: var(--dl-space-space-fiveunits);
  font-family: "Gilroy-Regular";
}
@media(max-width: 767px) {
  .yardi-nav-box {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .yardi-nav1 {
    display: none;
  }
}
@media(max-width: 479px) {
  .yardi-nav-box {
    padding: var(--dl-space-space-unit);
  }
}
